body {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    font-family: arial;
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
  }

nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

.navUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .navLi {
    float: left;
    font-size: 20px;
  }
  
  .navLi a {
    display: block;
    color: #000;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .navLi a:hover {
    background-color: #555;
    color: white;
  }
  
  img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 50%;
    background-color: white;
  }

  .contentContainer{
    margin-top: 80px;
  }

  .content{
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    width: 45%;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    background-color:#fcfcfc;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  h1{
    margin: 0;
    text-align: left;
    font-size: 25px;
  }

  #bioContainer{
    font-size: 15px;
    text-align: left;
  }

  #pictureDiv{
    padding: 10px;
    background-image: url(../img/coverImg.jfif);
  }

  #profileHeader{
    padding: 0;
  }

